<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NestoshSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9b8c9">  <td>21/11/08 19:18:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="myTest.orderShoes()[pri:0, instance:tests.myTest@40cb8df7]">orderShoes</td> 
  <td>main@1560940633</td>   <td></td> </tr>
<tr bgcolor="b9b8c9">  <td>21/11/08 19:17:27</td>   <td>-55408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="myTest.orderCoffee()[pri:0, instance:tests.myTest@40cb8df7]">orderCoffee</td> 
  <td>main@1560940633</td>   <td></td> </tr>
<tr bgcolor="b9b8c9">  <td>21/11/08 19:14:01</td>   <td>-261155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="myTest.openFlipFlops()[pri:0, instance:tests.myTest@40cb8df7]">openFlipFlops</td> 
  <td>main@1560940633</td>   <td></td> </tr>
</table>
