<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e0fea4">  <td>21/12/29 15:41:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.emailReport()[pri:0, instance:tests.testRunner@4f18837a]">&lt;&lt;emailReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@915349526</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/12/29 15:38:41</td>   <td>-188689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initialization(java.lang.String)[pri:0, instance:tests.testRunner@4f18837a]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@1411522747</td>   <td></td> </tr>
<tr bgcolor="a2f981">  <td>21/12/29 15:38:41</td>   <td>-188689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testRunner.testCasesExecutor(int,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:tests.testRunner@4f18837a]">testCasesExecutor</td> 
  <td>TestNG-PoolService-4@1411522747</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/12/29 15:38:41</td>   <td>-188689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initialization(java.lang.String)[pri:0, instance:tests.testRunner@4f18837a]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@1411522747</td>   <td></td> </tr>
<tr bgcolor="a2f981">  <td>21/12/29 15:38:41</td>   <td>-188689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testRunner.testCasesExecutor(int,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:tests.testRunner@4f18837a]">testCasesExecutor</td> 
  <td>TestNG-PoolService-4@1411522747</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/12/29 15:38:41</td>   <td>-188689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initialization(java.lang.String)[pri:0, instance:tests.testRunner@4f18837a]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@1411522747</td>   <td></td> </tr>
<tr bgcolor="a2f981">  <td>21/12/29 15:38:41</td>   <td>-188689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testRunner.testCasesExecutor(int,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:tests.testRunner@4f18837a]">testCasesExecutor</td> 
  <td>TestNG-PoolService-4@1411522747</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/12/29 15:41:49</td>   <td>-272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.updateStatus(org.testng.ITestResult)[pri:0, instance:tests.testRunner@4f18837a]">&lt;&lt;updateStatus</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1539611312</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/12/29 15:41:49</td>   <td>-272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.updateStatus(org.testng.ITestResult)[pri:0, instance:tests.testRunner@4f18837a]">&lt;&lt;updateStatus</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1539611312</td>   <td></td> </tr>
<tr bgcolor="a2f981">  <td>21/12/29 15:38:41</td>   <td>-188689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testRunner.testCasesExecutor(int,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:tests.testRunner@4f18837a]">testCasesExecutor</td> 
  <td>TestNG-PoolService-4@1411522747</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/12/29 15:38:41</td>   <td>-188689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initialization(java.lang.String)[pri:0, instance:tests.testRunner@4f18837a]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@1411522747</td>   <td></td> </tr>
<tr bgcolor="a2f981">  <td>21/12/29 15:38:41</td>   <td>-188689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testRunner.testCasesExecutor(int,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:tests.testRunner@4f18837a]">testCasesExecutor</td> 
  <td>TestNG-PoolService-4@1411522747</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/12/29 15:38:40</td>   <td>-189623</td> <td title="&gt;&gt;TestBase.configurations(org.testng.ITestContext)[pri:0, instance:tests.testRunner@4f18837a]">&gt;&gt;configurations</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@915349526</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/12/29 15:41:49</td>   <td>-272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.updateStatus(org.testng.ITestResult)[pri:0, instance:tests.testRunner@4f18837a]">&lt;&lt;updateStatus</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1539611312</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/12/29 15:38:41</td>   <td>-188689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initialization(java.lang.String)[pri:0, instance:tests.testRunner@4f18837a]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-4@1411522747</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/12/29 15:41:49</td>   <td>-272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.updateStatus(org.testng.ITestResult)[pri:0, instance:tests.testRunner@4f18837a]">&lt;&lt;updateStatus</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1539611312</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/12/29 15:41:49</td>   <td>-272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.updateStatus(org.testng.ITestResult)[pri:0, instance:tests.testRunner@4f18837a]">&lt;&lt;updateStatus</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1539611312</td>   <td></td> </tr>
</table>
