<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="768fa9">  <td>21/12/28 17:02:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String,java.lang.String)[pri:0, instance:com.browserstack.SingleTest@4567f35d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1237741323</td>   <td></td> </tr>
<tr bgcolor="ece37d">  <td>21/12/28 17:02:44</td>   <td>21384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SingleTest.testCasesExecutor(int,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:com.browserstack.SingleTest@4567f35d]">testCasesExecutor</td> 
  <td>TestNG-PoolService-0@1237741323</td>   <td></td> </tr>
<tr bgcolor="768fa9">  <td>21/12/28 17:03:41</td>   <td>78430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.updateStatus(org.testng.ITestResult)[pri:0, instance:com.browserstack.SingleTest@4567f35d]">&lt;&lt;updateStatus</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@1237741323</td>   <td></td> </tr>
<tr bgcolor="768fa9">  <td>21/12/28 17:02:22</td>   <td>-789</td> <td title="&gt;&gt;BrowserStackTestNGTest.configurations(org.testng.ITestContext)[pri:0, instance:com.browserstack.SingleTest@57a3af25]">&gt;&gt;configurations</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1764696127</td>   <td></td> </tr>
<tr bgcolor="ece37d">  <td>21/12/28 17:02:37</td>   <td>13822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SingleTest.testCasesExecutor(int,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:com.browserstack.SingleTest@57a3af25]">testCasesExecutor</td> 
  <td>TestNG-PoolService-0@38357130</td>   <td></td> </tr>
<tr bgcolor="768fa9">  <td>21/12/28 17:03:12</td>   <td>48749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.updateStatus(org.testng.ITestResult)[pri:0, instance:com.browserstack.SingleTest@57a3af25]">&lt;&lt;updateStatus</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@38357130</td>   <td></td> </tr>
<tr bgcolor="768fa9">  <td>21/12/28 17:02:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String,java.lang.String)[pri:0, instance:com.browserstack.SingleTest@57a3af25]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-PoolService-0@38357130</td>   <td></td> </tr>
</table>
